<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
		<rules>
			<rule name="MobileRedirect" stopProcessing="true">
				<match url="^www-s/$" ignoreCase="true" />
				<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
				<add input="{HTTP_USER_AGENT}" pattern="android|blackberry|googlebot-mobile|iemobile|iphone|ipod|opera mobile|palmos|webos" />
				<add input="{HTTP_X-Device-User-Agent}" pattern="midp|mobile|phone" />
				</conditions>
				<action type="Redirect" url="http://beta-iota.sigmaphidelta.org/mobile/" appendQueryString="false"/>
			</rule>
		</rules>
	</rewrite>
	<defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
